version: '3.8'

services:
  devcontainer:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached     
    command: sleep infinity
    deploy:
      resources:
        limits:
          memory: 5G